@import url('header.css');
@import url('footer.css');

@font-face {
    font-family: 'Geometria';
    src: url('/fonts/geometria/geometria_medium.otf') format('opentype');
    font-weight: 500; font-display: swap;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('/fonts/gotham-pro/gothampro_black.ttf') format('truetype');
    font-weight: 900; font-display: swap;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #1a1a1a;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    background-color: #0D0D0D;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

/* bg elements */
.promo__decor { position: absolute; inset: 0; pointer-events: none; z-index: 1; }
.promo__decor-img { position: absolute; }

.promo__decor-img--center { width: 566px; height: auto; top: 0px; left: 45.4%; }
.promo__decor-img--tl-header { width: 354px; height: 42px; top: 7%; left: -4%; object-fit: contain; }
.promo__decor-img--bl-footer { width: 354px; height: 99px; bottom: 16.3%; right: 5.2%; }
.promo__decor-img--clock { width: 950px; height: 950px; top: 64px; left: 5.8%; box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5); border-radius: 50%; }

.promo__decor-elips { position: absolute; border-radius: 50%; }
.promo__decor-elips--tr { width: 869px; height: 869px; top: -40%; right: -22.5%; border: 150px solid #FB6542; }
.promo__decor-elips--bl { width: 674px; height: 674px; bottom: -31%; left: -4.7%; border: 100px solid #FB6542; }

.promo__square { position: absolute; border: 4px solid #FFFFFF; }
.promo__square--1 { width: 45px; height: 45px; top: 30%; left: 7.2%; transform: rotate(15deg); border-radius: 5px; }
.promo__square--2 { width: 25px; height: 25px; top: 36.6%; right: 18.3%; transform: rotate(-45deg); border-width: 2px; border-radius: 3px; }
.promo__square--3 { width: 65px; height: 65px; top: 82.4%; left: 48.3%; transform: rotate(-45deg); border-radius: 5px; }

/* ОБЕРТКА КОНТЕНТА */
.promo__wrapper {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0px; 
}

/* MAIN CONTENT */
.main {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    position: relative;

}

.main__content{
    position: absolute;
    right: 12.3%;
    top: -76px;
}

.main__title {
   font-family: Gotham Pro;
    font-weight: 900;
    font-size: 200px;
    letter-spacing: 2%;
    vertical-align: middle;

 }

.main__subtitle {
    font-family: Geometria;
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 1px;
    margin-left: 10px;
    
 }


 